{% extends "base.html" %} 
{% load static %} 
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
    <div class="container d-flex flex-column justify-content-center align-items-center mt-5" style="min-height: 100vh;">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="display-4 logo-font">
                    Mystic Arts and Crafts from Tibet
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}