{% extends "base.html" %} 
{% load static %} 
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container h-100">
    
    <div class="row mt-5 d-flex align-items-center custom-position">
        <div class="col-12 text-center">
            <h1 class="text-black text-center">
                Welcome to the Tibet Art Shop: </h1>
            <h2 class="text-center">Discover arts and crafts from the Himalayas, where every piece tells a story.</h2>

            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded text-uppercase py3">Shop
                        Now</a>
                </h4>
            </div>
    </div>
</div>

{% endblock %}

