{% extends 'base.html' %}
{% load static %}

{% block extra_title %} - About us {% endblock %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
<div></div>
{% block content %}
<!-- Main Content -->
    <div class="overlay"></div>
    <div class="container my-5">
        <h1>Privacy Policy of Tibet Art Store</h1>
        <p><strong>Last updated:</strong> [Insert Date]</p>

        <p>At Tibet Art Store, we are committed to maintaining the trust and confidence of our visitors to our website and subscribers to our newsletter. Here you’ll find information on how we treat data that we collect from visitors to our website or when someone subscribes to our newsletter.</p>

        <h2>1. Information We Collect</h2>
        <p>When visitors come to our site, we may collect the following information:</p>
        <ul>
            <li>Personal identification information (Name, email address, phone number, etc.)</li>
            <li>Web browser details and version</li>
            <li>The pages of our Site that you visit</li>
            <li>The time and date of your visit</li>
        </ul>

        <h2>2. How We Use the Information</h2>
        <p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, or use certain other site features in the following ways:</p>
        <ul>
            <li>To personalize your experience and to allow us to deliver the type of content in which you are most interested.</li>
            <li>To improve our website.</li>
            <li>To quickly process your transactions.</li>
            <li>To send periodic emails regarding your order or other products and services.</li>
        </ul>

        <h2>3. Cookies</h2>
        <p>Yes. We use cookies to:</p>
        <ul>
            <li>Understand and save user's preferences for future visits.</li>
            <li>Keep track of advertisements.</li>
            <li>Compile aggregate data about site traffic and site interactions.</li>
        </ul>
        <p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies through your browser settings.</p>

        <h2>4. Third-party disclosure</h2>
        <p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice.</p>

        <h2>5. Third-party links</h2>
        <p>Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We, therefore, have no responsibility or liability for the content and activities of these linked sites.</p>

        <h2>6. Changes to This Privacy Policy</h2>
        <p>We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page.</p>

        <h2>7. Contacting Us</h2>
        <p>If you have any questions about our Privacy Policy, please contact us:</p>
        <ul>
            <li>By email: <a href="mailto:info@tibetartstore.com">info@tibetartstore.com</a></li>
            <li>By phone: 0049-30304455664</li>
            <li>By visiting our page: <a href="#contact">Contact Us</a></li>
        </ul>
    </div>