{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %} - Blogpost {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'comment/css/comment.css' %}">
{% endblock %}

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col-12 text-center text-uppercase logo-font pb-2 my-5">
            <h1 class="header-text">Blog</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row mx-auto d-block">
        <div class="col-12">
            <h2 class="mb-5">{{ blogpost.title }}</h2>
            <img class="mx-auto mb-5 d-block" src="{{ MEDIA_URL }}{{ blogpost.article_image_name }}" alt="" width="500px">
            <p class="mb-2">Written by: <span class="font-weight-bold">{{ blogpost.writer_name }}</span></p>
            <p class="mb-2">Published on: <span class="font-italic">{{ blogpost.published_date }}</span></p>
            <p class="mb-1">{{ blogpost.article_text|safe }}</p>
        </div>
    </div>

    <div class="comment-detail-card mb-5">
        <h5 class="comment-detail-background m-3">Comments: {{ comments.count }}</h5>
        <button class="btn btn-outline-dark m-2" type="button" data-bs-toggle="collapse" data-bs-target="#commentsCollapse" aria-expanded="false" aria-controls="commentsCollapse">
            Show/Hide Comments
        </button>
        <a href="{% url 'blogpost_list' %}" class="btn btn-black">Back to Bloglist</a>
    
        <div class="collapse" id="commentsCollapse">
            <div class="comment-detail-card">
                {% for comment in comments %}
                    <p><strong class="comment-detail-background"><i class="fa fa-user"></i></strong> {{ comment.user.username }}</p>
                    <p><strong class="comment-detail-background font-italic">Comment:</strong> {{ comment.comment_text }}</p>
                    <p><strong class="comment-detail-background font-italic">Posted on:</strong> {{ comment.date_time }}</p>
                    
                    {% if request.user == comment.user %}
                        <a href="{% url 'delete_blogpost_comment' comment.id %}"><i class="fa fa-trash"></i>Delete</a>
                    {% endif %}
                    <hr>
                {% empty %}
                    <p>No comments yet.</p>
                {% endfor %}

                <div class="container mt-4">
                    <h5>Leave a Comment:</h5>
                    <form method="post" action="{% if edit_mode %}{% url 'save_blogpost_comment_edit' blogpost.id comment.id %}{% else %}{% url 'save_blogpost_comment_new' blogpost.id %}{% endif %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="Submit Comment" class="btn btn-primary mt-2">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
