
html {
    height: 100%;
}
body {
    /*background: url('/media/jambhala-mh-2882_002.png') no-repeat center center fixed;*/
    background-color: whitesmoke;
    height: 100vh;
    font-family: Lato;
}
.main-logo-link img {
    height: 110px;
}
/*
.main-logo-link img {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}*/
.text-black {
    color: #000 !important;
}
/*--- Forms--- */

.form {
    margin: 3% auto;
    width: 60%;
    border-radius: 5px;
}

.form-text {
    margin-top: 30px;
}

#form-lg {
    margin-top: 100px;
}

.linebreak {
    border-bottom: 1px solid rgba(80, 57, 12, 0.579);
    /*box-shadow: 1px 1px 5px 0 #d4c1c361;*/
}

.custom-carousel {
    height: 50vh;
    overflow: hidden;
    object-fit: contain;
}

.custom-carousel-img {
    max-height: 100%; 
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

/*--- Info banner--- */

.new-products-banner {
    background-color: #9b770d;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
}

.new-products-banner a {
    color: black;

    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.new-products-banner a:hover {
    color: white
}

/*--- Search Bar--- */
input.form-control {
    background-color: rgba(166, 165, 166, 0);

}

input.form-control::placeholder {
    color: #aaa;
}

input.form-control:hover,
input.form-control:focus {
    background-color: rgba(155, 129, 129, 0.2);
}
/* **** Icon styles from Code Institute's 'Boutique Ado' code-along project/
Bulma **** */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.logo-font {
    text-transform: capitalize;
    color: black;
}

/* Button smooth transition for hover effects */
button,
.btn {
    background-color: black;
    color: antiquewhite;
    border: none;
    transition: all 0.3s ease-in-out;
  
    
}

button:hover,
.btn:hover {
    background-color: rgb(81, 79, 79);
    color: white;
}