
html {
    height: 100%;
}
body {
    background: url('/media/small/GT-CB-8_5-4.jpg');
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
} 
.header-container {
    z-index: 10;
    position: relative;
}
.main-container {
    height: calc(100vh-164px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main-logo-link img {
    height: 110px;
}
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}
/*
.main-logo-link img {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}*/
.text-black {
    color: #000 !important;
}

.centered-image {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.card-padding {
    padding: 0 10px;
}

.column-padding {
    padding: 10px;
}

.center-text {
    text-align: center;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--- Forms--- */

.form {
    margin: 3% auto;
    width: 60%;
    border-radius: 5px;
}

.form-text {
    margin-top: 30px;
}

#form-lg {
    margin-top: 100px;
}

.linebreak {
    border-bottom: 1px solid rgba(80, 57, 12, 0.579);
    /*box-shadow: 1px 1px 5px 0 #d4c1c361;*/
}

/*--- Info banner--- */

.delivery-banner {
    background-color: #b4963c;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
}

/*--- Search Bar--- */
input.form-control {
    background-color: rgba(166, 165, 166, 0);

}

input.form-control::placeholder {
    color: #aaa;
}

input.form-control:hover,
input.form-control:focus {
    background-color: rgba(155, 129, 129, 0.2);
}
/* **** Icon styles from Code Institute's 'Boutique Ado' code-along project/
Bulma **** */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.logo-font {
    text-transform: capitalize;
    color: black;
}

/* Button smooth transition for hover effects */
button,
.btn {
    background-color: black;
    color: antiquewhite;
    border: none;
    transition: all 0.3s ease-in-out;
}
.update-link,
.remove-item {
    cursor: pointer;
}

button:hover,
.btn:hover {
    background-color: rgb(81, 79, 79);
    color: white;
}

/* .message-container {
    position: fixed;
    top: 72px;
    right:15px;
    z-index: 99999999
}
.custom-toast {
    overflow: visible
}
.toast-capper {
    height: 2px;
}
 */

 .message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999;
    transition: transform 0.3s ease-in-out;
}

.custom-toast {
    overflow: visible;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.toast-capper {
    height: 10px;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.slide-in {
    animation: slideIn 0.5s forwards;
}

.table-bg {
    background-color: #f1e5c0;
}
.product-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
   
    border-radius: 10px;
}

.product-form-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.col-full {
    display: flex;
    flex-direction: column;
}
.label-strong {
    font-weight: bold;
    margin-bottom: 5px;
}


