{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Displays 403 error content -->
<div class="container">
    <div class="row">
        <div class="col-12 my-5 text-center">
            <img src="{{ MEDIA_URL }}noimage.png" alt="Tibet art store logo!">
        </div>
        <div class="col-12 mt-3 text-center">
            <h2>ERROR - 403</h2>
        </div>
        <div class="col-12 text-center">
            <h4 class="my-3">Sorry, you dont have permission to access this page</h4>
            <p class="mb-4" >Click the link below to return home... </p>
            <a class="btn btn-black mb-5" href="{% url 'home' %}">Home</a>
        </div>
    </div>
</div>
    
{% endblock %}
