{% extends 'base.html' %}
{% load static %}

{% block extra_title %} - Blogpost {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12 text-center text-uppercase logo-font pb-2 my-5">
            <h1 class="header-text">Blog</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
     <div class="row mb-2 mx-auto d-block">
        <div class="col 12">
            <h2 class="mb-5">{{ article.title }}</h2>
            <img class="mx-auto mb-5 d-block" src="{{ MEDIA_URL }}{{ article.article_image_name }}" alt="" width="500">
            <p class="mb-2">Written by: <span class="font-weight-bold">{{ article.writer_name }}</span></p>
            <p class="mb-2">Published on: <span class="font-italic">{{ article.published_date }}</span></p>
             {{ article.article_text|safe }}
            <strong class="text-muted">
                <i class="fas fa-comment mr-1"></i>
                <a href="{% url 'new_blogpost_comment' blogpost_id=article.pk %}" style="color: darkblue;">Comments ({{ article.comment_count }})</a>
            </strong>
        </div>
        <div class="text-center my-5">
            <a href="{% url 'blogpost_list' %}" class="btn btn-sm">Back to Bloglist</a>
        </div>
    </div>
</div>
{% endblock %}
