{% extends 'base.html' %}
{% load static %}
{% load template_tag %}
{% load crispy_forms_tags %}


{% block extra_title %}Products{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12 text-center text-uppercase logo-font my-5">
            <div class="header-text">Contact Us Form</div>
        </div>
    </div>
</div>
{% endblock %}
<div></div>

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form method="post" action="{% url 'contact_view' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-black mb-2">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
