{% extends 'base.html' %}
{% load static %}
{% load template_tag %}

{% block extra_title %}Products{% endblock %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mt-5">
    <div class="row">

        <!-- Product Image -->
        <div class="col-lg-6 col-md-12">
            <img src="{{ MEDIA_URL }}full/{{ product_image_name }}" alt="Product Image" class="img-fluid">
        </div>

        <!-- Product Details -->
        <div class="col-lg-6 col-md-12">
            <h2 class="mb-2">{{ product.title }}</h2>
            <h3 class="lead mb-2 font-weight-bold">Price: USD$ {{ product.price }}</h3>
            <h4 class="lead mb-2 text-left font-weight-bold">SKU: {{ product.sku }}</h4>
            <br>
            <p>{{ product.description }}</p>
            <br>
            <p>{{ product.liquid }}</p>
            <div class="d-flex justify-content-center flex-wrap">
                <div class="action-btn row w-100 my-3 mx-auto">
                    <!-- Add to Cart Button -->
                        <div class="col-auto">
                        <form class="d-inline-block me-2" action="{% url 'add_to_cart' product.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm rounded text">Add to Cart</button>
                        </form>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'products_list' %}" class="d-inline-block btn btn-sm rounded">
                            <span class="text">Continue Shopping</span>
                        </a>
                    </div>
                    <div class="col-auto">
                        {% is_favorited_by_user product request.user as is_favorited %}
                        <form style="display: inline;" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            {% if is_favorited %}
                                <button type="submit" class="btn btn-secondary btn-sm" formaction="{% url 'remove_from_favorites' product.id %}">Remove from Favorites</button>
                            {% else %}
                                <button type="submit" class="btn btn-secondary btn-sm" formaction="{% url 'add_to_favorites' product.id %}">Add to Favorites</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
